.feature-card {
  background-color: #2e2e2e;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 24px;
  text-align: center;
  min-height: 250px;
  display: flex;
  padding: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature-card h3 {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 12px;
}

.feature-card p {
  color: #e7e7e7;
  font-size: 1rem;
  line-height: 1.5;
}
