.timeline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}

.timeline {
  position: relative;
  width: 100%;
  height: 200px;
  border: 2px solid #444;
  padding: 10px;
  margin-bottom: 20px;
  overflow-x: scroll;
  display: flex;

}


.assets-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.asset-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 200px;
  margin: 5px;
  padding: 5px;
  background-color: #333;
  color: white;
  border-radius: 4px;
}

.asset-item p {
  margin: 0;
}

.asset-item button {
  background-color: #555;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.asset-item button:hover {
  background-color: #666;
}
