.timeline-item  {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.video-preview-container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.video-item {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  background: #f0f0f0;
  border-radius: 4px;

}

.timeline-item img {
  height: 50px;
  object-fit: cover;
}
